.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-box{
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    color: black;
    margin: 25px;
    padding: 75px;
    border: 5px solid black;
    border-radius: 10px;
    border-style: double;
}